negro = #363947
colorMain = #0f969e

.colorM
	color colorMain
	
body
	position relative
	footer 
		bottom 0
		background rgba(243, 243, 243,0.7)
		color colorMain
		position fixed
		text-align center
		width 100%
		height 3em
		padding 1em
		font-weight bold

#loading-bar .bar
	background colorMain !important
#loading-bar-spinner .spinner-icon 
	border solid 3px transparent !important
	border-top-color colorMain !important
	border-left-color colorMain !important
.textModal
	color colorMain
.error
	color red

@import 'stylus/homeCtrl.styl';