.colorM {
  color: #0f969e;
}
body {
  position: relative;
}
body footer {
  bottom: 0;
  background: rgba(243,243,243,0.7);
  color: #0f969e;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 3em;
  padding: 1em;
  font-weight: bold;
}
#loading-bar .bar {
  background: #0f969e !important;
}
#loading-bar-spinner .spinner-icon {
  border: solid 3px transparent !important;
  border-top-color: #0f969e !important;
  border-left-color: #0f969e !important;
}
.textModal {
  color: #0f969e;
}
.error {
  color: #f00;
}
#homeContainer {
  width: 100%;
}
#homeContainer #navhome {
  background: #363947;
  color: #fff;
  height: 300px;
  margin: 0;
  padding: 1em;
  top: 0;
}
#homeContainer #navhome a {
  text-decoration: none;
  color: #808080;
  cursor: pointer;
}
#homeContainer #navhome a.buttonNav {
  border: 1px solid #0f969e;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.7;
}
#homeContainer #navhome a.buttonNav:hover {
  opacity: 1;
  color: #fff;
}
#homeContainer #navhome a.buttonNav:active {
  border: 1px solid #808080;
}
#homeContainer #navhome div.salir a {
  font-size: 15px;
}
#homeContainer #navhome div.subtitle {
  font-style: italic;
  opacity: 0.8;
  text-align: center;
  font-family: Brush Script Std, Brush Script MT, cursive;
}
#homeContainer #navhome div.searchContainer {
  color: #808080;
  margin-top: 3em;
}
#homeContainer #navhome div.searchContainer div.inputContainer {
  margin: auto;
  text-align: center;
  width: 50%;
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
#homeContainer #navhome div.searchContainer div.inputContainer .inputNav {
  border: 1px solid #808080;
  background: #363947;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 5px;
  color: #808080;
  font-family: serif;
  font-style: normal;
}
#homeContainer #navhome div.searchContainer div.inputContainer text-decoration inherit:hover {
  box-shadow: 0px 0px 5px #0f969e;
}
#homeContainer #navhome div.searchContainer div.inputContainer .empty {
  font-family: FontAwesome;
}
#homeContainer #booksContainer {
  text-align: center;
  color: #0f969e;
  background: #fff;
  padding: 1em;
}
#homeContainer #booksContainer h2 {
  font-family: fantasy;
  margin-bottom: 1em;
}
#homeContainer #booksContainer img {
  width: 130px;
  height: 200px;
}
#homeContainer #booksContainer .buttonEdit {
  background: #0f969e;
  color: #fff;
  padding: 0.7em 2em;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 5px;
}
#homeContainer #booksContainer .buttonEdit:hover {
  background: #fff;
  color: #0f969e;
  padding: 0.7em 2em;
  border: 1px solid #0f969e;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 5px;
  box-shadow: 0px 0px 5px #0f969e;
}
#homeContainer #booksContainer .buttonDelete {
  background: #fff;
  color: #0f969e;
  padding: 0.7em 2em;
  border: 1px solid #0f969e;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 5px;
}
#homeContainer #booksContainer .buttonDelete:hover {
  box-shadow: 0px 0px 5px #0f969e;
}
#homeContainer #numberPages {
  margin-bottom: 3em;
}
#homeContainer #noBooksSection div {
  font-size: 2em;
  margin-top: 2em;
  text-align: center;
}
#homeContainer #noBooksSection div i {
  color: #0f969e;
  font-size: 3em;
}
