<div  id="homeContainer" ng-init="data.loadBooks()">
	<div id="navhome"  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 "> 
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
				<h2> <i class="fa fa-book colorM"></i> <i class="fa fa-bold"></i>ooK - A - <i class="fa fa-bold"></i>ooK </h2>
	
			</div>
	
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 salir">
				<h2 class="pull-right" ><a class="buttonNav" ng-click="data.book.add()"> <i class="fa fa-plus"></i> Add a Book </a></h2>
			</div>
	
		</div>
	
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 subtitle "> 
			<h2 class="">  A Library For Maniaks</h2>
	
		</div>
	
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 searchContainer"> 
	
			<div class="inputContainer">	
				<input class="form-control inputNav" type="text" placeholder="&#xF002; Search a book or Category" ng-class="{'empty' : data.search == ''}" ng-model="data.search" autofocus>
			</div>
		</div>
	</div>

	<section id="noBooksSection" ng-show="!(data.books | filter:data.search).length > 0 " class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
		<div >
			<i class="fa fa-frown-o"></i>
			<br />
			No Results Found...
		</div>
	</section>

	<div id="booksContainer" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " ng-show="(data.books | filter:data.search).length > 0 ">

		<h2>Manage your Awesome Books</h2>

	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
		  	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="book in data.books.slice( ( ( data.currentPage-1 ) * data.itemsPerPage ), ( (data.currentPage ) * data.itemsPerPage ) ) | filter:data.search | orderBy: 'id' " >
			    <div class="thumbnail" >
			        <h4>{{book.name}}</h4>
			      	<img ng-src="../storage/{{book.source}}" >
			      	<div class="caption">
			        	<p>Author: {{book.author}}</p>
			        	<p>Published Date: {{book.publishedDate}}</p>
			        	<p >User: {{book.user || 'None'}}</p>
			        	<p>Category: {{book.category}}</p>
			        	<p>
			        		Status :
				        	<label ng-show="book.borrowed != 'borrowed'"><i class="fa fa-check" style="color:green"></i> Available</label> 
				        	<label ng-show="book.borrowed == 'borrowed'"><i class="fa fa-times" style="color:red"></i> Borrowed</label>
			        	</p>
			        	<a href="" class="buttonEdit" ng-click="data.book.update( book );" > <i class="fa fa-edit"></i> Update </a>
			        	<a href="" class="buttonDelete" ng-click="data.book.delete( book.id )"> <i class="fa fa-trash"></i> Delete </a>
			      	</div>
			    </div>
		  	</div>
		</div>
	
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">  
		View 
		<select ng-model="data.viewby" ng-change="data.setItemsPerPage(data.viewby)">
			<option ng-value="3">3</option>
			<option ng-value="5">5</option>
			<option ng-value="10">10</option>
			<option ng-value="20">20</option>
			<option ng-value="30">30</option>
			<option ng-value="40">40</option>
			<option ng-value="50">50</option>
		</select> records at a time.
      	<ul uib-pager total-items="data.totalItems" ng-model="data.currentPage" items-per-page="data.itemsPerPage"></ul>
     	<!-- <pager total-items="data.totalItems" ng-model="data.currentPage" items-per-page="data.itemsPerPage"></pager> -->
		
	</div>
  
      	<hr />


      	<div id="numberPages">
      		<!-- <pagination total-items="data.totalItems" ng-model="data.currentPage" max-size="data.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="data.numPages" items-per-page="data.itemsPerPage"></pagination> -->
      		<ul uib-pagination total-items="data.totalItems" ng-model="data.currentPage" max-size="data.maxSize" class="pagination-sm" boundary-links="true"  rotate="false" num-pages="data.numPages" items-per-page="data.itemsPerPage"></ul>
      	</div>

	</div>		

</div>

<script type="text/ng-template" id="udpBookMdl.html">

	<div class="modal-header" ng-init="loadCategories()" >
		<h3 class="modal-title" style="color: black;"> <i class="iconNav fa fa-edit textModal" ></i> 
			Update a book
		</h3>
	</div>
	<div class="modal-body" >

		<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<form name="updateBookForm" ng-submit="updateBookForm.$valid && updateBook( )" novalidate>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-bottom:1em">
					 	<div class="form-group">
					    	<label class="textModal" >Book Name</label>
					    	<input type="text" class="form-control" id="bookName" name="bookName" placeholder="Book Name" ng-model="book.name" ng-minlength="3" ng-maxlength="50" required>
					    	<div class="error" 	ng-show="updateBookForm.bookName.$invalid && (updateBookForm.bookName.$dirty || updateBookForm.$submitted) ">
								<small class="error" ng-show="updateBookForm.bookName.$error.required">
									Required
								</small>
								<small class="error" ng-show="updateBookForm.bookName.$error.minlength">
									3 or more characters
								</small>
								<small class="error" ng-show="updateBookForm.bookName.$error.maxlength">
									50 or less characters
								</small>
							</div>
	
					  	</div>
						
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-bottom:1em">
					  	<div class="form-group">
					    	<label class="textModal" >Author</label>
					    	<input type="text" class="form-control" name="author" id="author" placeholder="Author" ng-model="book.author" ng-minlength="3" ng-maxlength="50" required>
						  	<div class="error" 	ng-show="updateBookForm.author.$invalid && (updateBookForm.author.$dirty || updateBookForm.$submitted) ">
								<small class="error" ng-show="updateBookForm.author.$error.required">
									Required
								</small>
								<small class="error" ng-show="updateBookForm.author.$error.minlength">
									3 or more characters
								</small>
								<small class="error" ng-show="updateBookForm.author.$error.maxlength">
									50 or less characters
								</small>
							</div>
					  	</div>
					</div>
	
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-bottom:1em">
					  	<div class="form-group">
					    	<label class="textModal" >Publish Date</label>
					    	<input type="date" class="form-control" name="publishDate" id="publishDate" placeholder="Publish Date" ng-model="publishedDate" required>
					    	<div class="error" 	ng-show="updateBookForm.publishDate.$invalid && (updateBookForm.publishDate.$dirty || updateBookForm.$submitted) ">
								<small class="error" ng-show="updateBookForm.publishDate.$error.required">
									Required
								</small>
							</div>
					  	</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
					<label class="textModal" >Category</label>
						<div
							angular-multi-select
							input-model="categories"
							output-model="category"
							output-type="objects"
							dropdown-label="<[ '<(text)>' | outputModelIterator : this : ', ']>"
							node-label="<[ text ]>"
							leaf-label="<[ text ]>"
							max-checked-leafs="1"
							search-field="text"
							hide-helpers="check_all, reset, check_none"
							preselect="id,{{book.category_id}}"
						>
						</div>
					  	<!-- <div class="form-group">
					    	<label class="textModal" >Category </label>
					    	<input type="text" class="form-control" name="category" id="category" placeholder="Category" ng-model="book.category" ng-minlength="3" ng-maxlength="50" required>
						  	<div class="error" 	ng-show="updateBookForm.category.$invalid && (updateBookForm.category.$dirty || updateBookForm.$submitted) ">
								<small class="error" ng-show="updateBookForm.category.$error.required">
									Required
								</small>
								<small class="error" ng-show="updateBookForm.category.$error.minlength">
									3 or more characters
								</small>
								<small class="error" ng-show="updateBookForm.category.$error.maxlength">
									50 or less characters
								</small>
							</div>
					  	</div>   -->
					</div>

					<!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
					  	<div class="form-group">
					    	<label class="textModal" for="Image">Image</label>
					    	<input type="file" id="image" ng-model="book.source" file-model = "myFile" valid-file name="image" type="file" accept="image/*">
					  	</div>
					</div> -->
				</div>

			  	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
			  		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
  				    	<div class="radio">
  						  	<label class="textModal">
  						    	<input type="radio" id="available" ng-model="book.borrowed" value="available" ng-change="cleanUser()">
  						    	Available
  						  	</label>
  						
  						  	<label class="textModal">
  						    	<input type="radio" id="borrowed" ng-model="book.borrowed" value="borrowed">
  						    	Borrowed
  						  	</label>
  						</div>
  				  	</div>
  	
  				  	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
  					  	<div class="form-group" ng-show="book.borrowed == 'borrowed'" >
  					    	<label class="textModal" >User </label>
  					    	<input type="text" class="form-control" name="userName" id="userName" placeholder="User Name" ng-model="book.user" ng-minlength="3" ng-maxlength="50" ng-required="book.borrowed == 'borrowed'">
	  					  	<div class="error" 	ng-show="updateBookForm.userName.$invalid && (updateBookForm.userName.$dirty || updateBookForm.$submitted) ">
								<small class="error" ng-show="updateBookForm.userName.$error.required">
									Required
								</small>
								<small class="error" ng-show="updateBookForm.userName.$error.minlength">
									3 or more characters
								</small>
								<small class="error" ng-show="updateBookForm.userName.$error.maxlength">
									50 or less characters
								</small>
							</div>
  					  	</div>
  					</div>
  				</div>

			  	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="text-align: center;">
				  	<button type="submit" class="btn btn-default ">Submit</button>
				</div>
			</form>
		</div>
		<div class="modal-footer" style="overflow: hidden">
			<button ng-click="modal.cerrar()" class="btn btn-default">
				close
			</button>
		</div>
	</div>
</script>


<script type="text/ng-template" id="addBookMdl.html">

	<div class="modal-header" ng-init="loadCategories()" >
		<h3 class="modal-title" style="color: black;"> <i class="iconNav fa fa-edit textModal" ></i> 
			Add a book
		</h3>
	</div>
	<div class="modal-body" >

		<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<form name="addBookForm" ng-submit="addBookForm.$valid && addBook( )" novalidate>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-bottom:1em">
					 	<div class="form-group">
					    	<label class="textModal" >Book Name</label>
					    	<input type="text" class="form-control" id="bookName" name="bookName" placeholder="Book Name" ng-model="book.name" ng-minlength="3" ng-maxlength="50" required>
					    	<div class="error" 	ng-show="addBookForm.bookName.$invalid && (addBookForm.bookName.$dirty || addBookForm.$submitted) ">
								<small class="error" ng-show="addBookForm.bookName.$error.required">
									Required
								</small>
								<small class="error" ng-show="addBookForm.bookName.$error.minlength">
									3 or more characters
								</small>
								<small class="error" ng-show="addBookForm.bookName.$error.maxlength">
									50 or less characters
								</small>
							</div>
	
					  	</div>
						
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-bottom:1em">
					  	<div class="form-group">
					    	<label class="textModal" >Author</label>
					    	<input type="text" class="form-control" name="author" id="author" placeholder="Author" ng-model="book.author" ng-minlength="3" ng-maxlength="50" required>
						  	<div class="error" 	ng-show="addBookForm.author.$invalid && (addBookForm.author.$dirty || addBookForm.$submitted) ">
								<small class="error" ng-show="addBookForm.author.$error.required">
									Required
								</small>
								<small class="error" ng-show="addBookForm.author.$error.minlength">
									3 or more characters
								</small>
								<small class="error" ng-show="addBookForm.author.$error.maxlength">
									50 or less characters
								</small>
							</div>
					  	</div>
					</div>
	
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-bottom:1em">
					  	<div class="form-group">
					    	<label class="textModal" >Publish Date</label>
					    	<input type="date" class="form-control" name="publishDate" id="publishDate" placeholder="Publish Date" ng-model="book.publishedDate" required>
					    	<div class="error" 	ng-show="addBookForm.publishDate.$invalid && (addBookForm.publishDate.$dirty || addBookForm.$submitted) ">
								<small class="error" ng-show="addBookForm.publishDate.$error.required">
									Required
								</small>
							</div>
					  	</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
						<label class="textModal" >Category</label>
						<div
							angular-multi-select
							input-model="categories"
							output-model="category"
							output-type="objects"
							dropdown-label="<[ '<(text)>' | outputModelIterator : this : ', ']>"
							node-label="<[ text ]>"
							leaf-label="<[ text ]>"
							max-checked-leafs="1"
							search-field="text"
							hide-helpers="check_all, reset, check_none"
						>
						</div>
					  <!-- 	<div class="form-group">
					    	<label class="textModal" >Category </label>
					    	<input type="text" class="form-control" name="category" id="category" placeholder="Category" ng-model="book.category" ng-minlength="3" ng-maxlength="50" required>
						  	<div class="error" 	ng-show="addBookForm.category.$invalid && (addBookForm.category.$dirty || addBookForm.$submitted) ">
								<small class="error" ng-show="addBookForm.category.$error.required">
									Required
								</small>
								<small class="error" ng-show="addBookForm.category.$error.minlength">
									3 or more characters
								</small>
								<small class="error" ng-show="addBookForm.category.$error.maxlength">
									50 or less characters
								</small>
							</div>
					  	</div>   -->
					</div>

					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
					  	<div class="form-group">
					    	<label class="textModal" for="Image">Image</label>
					    	<input type="file" id="image" ng-model="book.source" file-model = "myFile" valid-file name="image" required type="file" accept="image/*">
					    	<div class="error" 	ng-show="addBookForm.image.$invalid && (addBookForm.image.$dirty || addBookForm.$submitted) ">
								<small class="error" ng-show="addBookForm.image.$error.required">
									Required
								</small>
							</div>
					  	</div>
					</div>
				</div>


	<!-- 		  	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
	  				    	<div class="radio">
	  						  	<label class="textModal">
	  						    	<input type="radio" id="available" ng-model="book.borrowed" value="available" selected>
	  						    	Available
	  						  	</label>
	  						
	  						  	<label class="textModal">
	  						    	<input type="radio" id="borrowed" ng-model="book.borrowed" value="borrowed">
	  						    	Borrowed
	  						  	</label>
	  						</div>
	  				  	</div>
	  	
	  				  	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
	  					  	<div class="form-group" ng-show="book.borrowed == 'borrowed'" >
	  					    	<label class="textModal" >User </label>
	  					    	<input type="text" class="form-control" name="userName" id="userName" placeholder="User Name" ng-model="book.user" ng-minlength="3" ng-maxlength="50" ng-required="book.borrowed == 'borrowed'">
		  					  	<div class="error" 	ng-show="addBookForm.userName.$invalid && (addBookForm.userName.$dirty || addBookForm.$submitted) ">
									<small class="error" ng-show="addBookForm.userName.$error.required">
										Required
									</small>
									<small class="error" ng-show="addBookForm.userName.$error.minlength">
										3 or more characters
									</small>
									<small class="error" ng-show="addBookForm.userName.$error.maxlength">
										50 or less characters
									</small>
								</div>
	  					  	</div>
	  					</div>
	  				</div> -->

			  	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="text-align: center;">
				  	<button type="submit" class="btn btn-default ">Submit</button>
				</div>
			</form>
		</div>
		<div class="modal-footer" style="overflow: hidden">
			<button ng-click="modal.cerrar()" class="btn btn-default">
				close
			</button>
		</div>
	</div>
</script>



