<script type="text/ng-template" id="udpBookMdl.html">

	<div class="modal-header" ng-init="ready()" >
		<h3 class="modal-title" style="color: black;"> <i class="iconNav fa fa-cloud-upload" ></i> 
			Registrar nuevo Requisitor Maquinaria / DivisiÃ³n
		</h3>
	</div>
	<div class="modal-body">

		<div class="form-group">
			<label>Empleado Requisitor</label>
			<select class="form-control" ng-model="forms.empleado">
				<option value="">Selecciona un Empleado</option>
				<option ng-repeat="empleado in modal.empleados" value="{{empleado.numempleado}} - {{empleado.empresa}}">
                    {{empleado.empresa}} - {{empleado.numempleado}} - {{empleado.nombre}} 
                </option>
			</select>
			<br>
			<label>Seleccionar DivisiÃ³n</label>
			<select class="form-control" ng-model="forms.division">
				<option value="">Selecciona un valor</option>
				<option ng-repeat="division in modal.catalogoDivisiones" value="{{division.encoded}}">
                    {{division.desc_dbs}} [{{division.keydbs}}], &nbsp; {{division.desc_ibs}} [{{division.keyibs}}]
                </option>
			</select>
			<br>
			<input type="checkbox" ng-model="forms.checkSpecial" >
				<label>Proveedor especial</label>
			<br>
			<div style="height: 20px;"></div>
			<a class="btnModificar" ng-click="fn.guardar()" ><i class="iconNav fa fa-plus" ></i> Guardar </a>
		</div>
		<div class="modal-footer">
			<button ng-click="modal.cerrar()" style=" padding:1em 2em; border-radius: 5px; border:1px solid #f3f3f3; box-shadow:0px 0px 2px gray; color:gray; background-color:white;">Cancelar
			</button>
		</div>
	</div>
</script>