#homeContainer
	width 100%
	#navhome
		background negro
		color white
		height 300px
		margin 0
		padding 1em
		// position fixed
		top 0
		a
			text-decoration none
			color gray
			cursor pointer
		a.buttonNav
			border 1px solid colorMain
			border-radius 5px
			padding 10px
			opacity 0.7
			&:hover
				opacity 1
				color white
			&:active
				border 1px solid gray
		div.salir
			a
				font-size 15px
		div.subtitle
			font-style: italic
			opacity 0.8
			text-align center
			font-family Brush Script Std, Brush Script MT, cursive
		div.searchContainer
			color gray 
			margin-top 3em
			div.inputContainer
				margin auto
				text-align center
				width 50%
				.inputNav
					border 1px solid gray
					background negro
					border-radius 5px
					font-size 1.5em
					padding 5px 
					color gray
					font-family serif
					font-style normal
				    font-weight normal
				    text-decoration inherit
					&:hover
						box-shadow 0px 0px 5px colorMain
				.empty
					font-family FontAwesome
				    font-style normal
				    font-weight normal
				    text-decoration inherit
	#booksContainer
		text-align center
		color colorMain
		background white
		padding 1em 	
		h2
			font-family  fantasy
			margin-bottom 1em
		img
			width 130px
			height 200px
		.buttonEdit
			background colorMain
			color white
			padding .7em 2em 
			border-radius 5px 
			text-decoration none
			margin-right 5px
			&:hover
				background white
				color colorMain
				padding .7em 2em 
				border 1px solid colorMain
				border-radius 5px 
				text-decoration none
				margin-right 5px
				box-shadow 0px 0px 5px colorMain
		.buttonDelete
			background white
			color colorMain
			padding .7em 2em 
			border 1px solid colorMain
			border-radius 5px 
			text-decoration none
			margin-right 5px
			&:hover
				box-shadow 0px 0px 5px colorMain
	#numberPages
		margin-bottom 3em
	#noBooksSection
		div
			font-size 2em
			margin-top 2em;
			text-align center
			i
				color colorMain
				font-size 3em

		
		